In [2]:
import numpy as np
import pandas as pd

In [3]:
with open('../data/english/result.csv', newline='') as f:
    df = pd.read_csv(f)

In [16]:
df

,word,count,length,level,common,vowel,syllable,prediction,freq
0,the,23135851162,3.0,1.000000,1,0.333333,1,0.000000,10.364285
1,of,13151942776,2.0,1.000000,1,0.500000,1,0.000000,10.118990
2,and,12997637966,3.0,1.000000,1,0.333333,1,0.000000,10.113864
3,to,12136980858,2.0,1.000000,1,0.500000,1,0.000000,10.084111
4,a,9081174698,1.0,1.000000,1,1.000000,1,0.000000,9.958142
...,...,...,...,...,...,...,...,...,...
333328,gooek,12711,5.0,9.112377,0,0.600000,1,0.721829,4.104180
333329,gooddg,12711,6.0,8.562395,0,0.333333,1,0.676865,4.104180
333330,gooblle,12711,7.0,8.470178,0,0.428571,2,0.669326,4.104180
333331,gollgo,12711,6.0,8.560252,0,0.333333,2,0.676690,4.104180
333332,golgw,12711,5.0,8.623835,0,0.200000,1,0.681888,4.104180

In [107]:
def get_level_diff(word, only_common=False):
    if only_common:
        word_df = df[(df['word']==word) & (df['common']==1)]
    else:
        word_df = df[df['word']==word]
    return (word_df.values[0][3], word_df.values[0][8]) if len(word_df) > 0 else (None, None)

In [99]:
get_level_diff('a')

(1.0, 9.95814203044417)

In [100]:
get_level_diff('apple')

(1.0, 7.703731220321639)

In [101]:
get_level_diff('hackathon')

(8.428312024308871, 4.3383967241962615)

In [102]:
get_level_diff('aaaaa')

(None, None)

In [103]:
# order words based on either level or frequency. 
def order_words(words, by=0, reverse=False, only_common=False):
    if (by not in {0, 1}): raise Exception("by is either 0 (by level), 1 (by frequency)")
    if (by == 1): reverse = not reverse
    
    word_results = []
    for word in words:
        level, freq = get_level_diff(word, only_common=only_common)
        if level != None:
            if by == 0:
                word_results.append((word, level))
            else:
                word_results.append((word, freq))
    word_results.sort(key=lambda x : x[1], reverse=reverse)
    return word_results

In [110]:
order_words(['apple', 'item', 'know', 'popcorn'], by=0, reverse=False, only_common=True)

[('apple', 1.0), ('know', 1.0), ('item', 3.0)]